@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f8f8fb;
  --container: #ffffff;
  
  --text-main: #0c0e1e;
  --text-secondary: #888eb0;
  --text-accent: #7e88c3;
  
  --input-border: #dfe3fa;
  
  --btn-secondary-bg: #f9fafe;
  --btn-secondary-text: #7e88c3;
  --btn-secondary-hover: #dfe3fa;

  --btn-draft-bg: #373b53;
  --btn-draft-text: #888eb0;
  --btn-draft-hover: #0c0e1e;
  
  /* Constant colors */
  --header-bg: #373b53;
  --button: #7c5dfa;
  --button-hover: #9277ff;
  --pending: #ff8f00;
  --paid: #33d69f;
  --grand-total: #0c0e16;
}

.dark {
  --background: #141625;
  --container: #1e2139;
  
  --text-main: #ffffff;
  --text-secondary: #dfe3fa;
  --text-accent: #888eb0;
  
  --input-border: #252945;
  
  --btn-secondary-bg: #252945;
  --btn-secondary-text: #dfe3fa;
  --btn-secondary-hover: #ffffff;

  --btn-draft-bg: #373b53;
  --btn-draft-text: #dfe3fa;
  --btn-draft-hover: #1e2139;
}

@theme {
  --font-league: "League Spartan", sans-serif;
  
  --color-background: var(--background);
  --color-container: var(--container);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-accent: var(--text-accent);
  --color-input-border: var(--input-border);
  
  --color-bg-header: var(--header-bg);
  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  
  --color-btn-secondary-bg: var(--btn-secondary-bg);
  --color-btn-secondary-text: var(--btn-secondary-text);
  --color-btn-secondary-hover: var(--btn-secondary-hover);
  
  --color-btn-draft-bg: var(--btn-draft-bg);
  --color-btn-draft-text: var(--btn-draft-text);
  --color-btn-draft-hover: var(--btn-draft-hover);
  
  --color-pending: var(--pending);
  --color-paid: var(--paid);
  --color-grand-total: var(--grand-total);
}

@layer base {
  body {
    @apply transition-colors duration-300 bg-background text-text-main min-h-screen;
  }
}
