@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f8f8fb;
  --container: #ffffff;
  --text-main: #0c0e1e;
  --text-secondary: #888eb0;
  --text-accent: #7e88c3;
  --input-bg: #ffffff;
  --input-border: #dfe3fa;
  --header-bg: #373b53;
  --button: #7c5dfa;
  --button-hover: #9277ff;
}

.dark {
  --background: #141625;
  --container: #1e2139;
  --text-main: #ffffff;
  --text-secondary: #dfe3fa;
  --text-accent: #888eb0;
  --input-bg: #1e2139;
  --input-border: #252945;
}

@theme {
  --font-league: "League Spartan", sans-serif;
  
  --color-background: var(--background);
  --color-container: var(--container);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-accent: var(--text-accent);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  
  --color-bg-header: var(--header-bg);
  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  --color-draft-button: #373b53;
  --color-discard-button: #f9fafe;
  
  --color-pending: #ff8f00;
  --color-paid: #33d69f;
}

@layer base {
  body {
    @apply transition-colors duration-300 text-text-main bg-background;
  }
}
